<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <button *ngIf = "!started" class="start-button" (click)="start()">Start!</button>

  <div *ngIf = "started" class = "game">
    <div class = "game-ui">
      <app-text-input (guessChange)="receiveGuess($event)"></app-text-input>
      <br />
      <br />
     <button class="submit-button" (click)="onSubmit()">guess</button>
      <button class="skip-button" (click)="skip()">skip</button>
      <button class="clue-button" (click)="revealClue()">clue</button>
    </div>
    <div class = "clue-section">
      <p *ngIf = clues[0].show >{{clues[0].body}}</p>
      <p *ngIf = clues[1].show>{{clues[1].body}}</p>
      <p *ngIf = clues[2].show>{{clues[2].body}}</p>
    </div>

     <div *ngIf = "guess != ''" class = "guessMessage">
      <h1 *ngIf = "guess === currentTrack.title">Correct! Hit Next</h1>
      <h1 *ngIf = "guess != currentTrack.title">Wrong. Try Again</h1>

    </div>

</div>

</div>
