<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Back to Home</p>
    </div>
    <div>
        <h1>Configure Your Game</h1>
    </div>
    <div class="options-container">
        <div class="gamemode-choice">
            <p>Game Mode</p>
            <select>
                <option>Normal</option>
                <option>Timed</option>
            </select>
        </div>
        <div class="genre-choice">
            <p>Genre</p>
            <select>
                <option>xxx</option>
                <option>xxx</option>
            </select>
        </div>
        <div class="'clues-choice">
            <p>Clues</p>
            <select>
                <option>On</option>
                <option>Off</option>
            </select>
        </div>
    </div>
    <div class="lower-container">
        <div class="description">
            <p>THE DETAILS OF THE CHOSEN GAMEMODE</p>
        </div>
    </div>
</body>
</html>
