<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div *ngIf="authLoading || configLoading">Loading...</div>
    <div *ngIf="!authLoading && !configLoading">
      <!-- Genre: -->

      <div class="header">
        <div class="welcome-container">
          <h1>Welcome to Guess the Song!</h1>
        </div>
        <div class="leaderboard-container">
          <button class="leaderboard">Leaderboard</button>
        </div>
      </div>
      <div class="config-container">
        <div class="config-title">
          <h2>Configure Your Game</h2>
        </div>

        <div class="settings-container">
          <div class="gamemode-choice">
            <p>GAME MODE: <span id="normal-timed">Normal</span></p>
            <button class="gamemode-btn" onclick="updateGameMode()"></button>
          </div>

          <div class="genre-choice">Genre</div>
          <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
            <option [value]="">Select a genre</option>
            <option [value]="genre" *ngFor="let genre of genres">
              {{ genre }}
            </option>
          </select>

          <div class="clues-choice">
            <p>CLUES: <span id="on-off">On</span></p>
            <button class="clues-btn" onclick="updateClueStatus()"></button>
          </div>
        </div>

        <div class="gamemode-description">
          <p>Description of the chosen gamemode</p>
        </div>
      </div>
      
      <div class="play-button">
        <button>PLAY</button>
      </div>
    </div>
  </body>
</html>