<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <div *ngIf="authLoading || configLoading">Loading...</div>
    <div *ngIf="!authLoading && !configLoading">
      <!-- Genre: -->

      <div class="header">
        <div class="header-container">
          <div class="welcome">
          <h1>Welcome to Guess the Song!</h1>
          </div>
        </div>
        <div class="header-container">
          <a routerLink="/leaderboard"><button class="leaderboard"><h1>Leaderboard</h1></button></a>
        </div>
      </div>

      <div class="config-container">
        <div class="config-title">
          <h2>Configure Your Game</h2>
        </div>

        <div class="settings-container">
          <div class="choice">
            <p>GAME MODE: <span id="normal-timed">Normal</span></p>
            <button class="toggle-btn" (click)="updateGameMode()">Toggle</button>
          </div>

          <div class="choice">
            <p>Genre</p>
          <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
            <option [value]="">Select a genre</option>
            <option [value]="genre" *ngFor="let genre of genres">
              {{ genre }}
            </option>
          </select>
        </div>

          <div class="choice">
            <p>CLUES: <span id="on-off">On</span></p>
            <button class="toggle-btn" (click)="updateClueStatus()">Toggle</button>
          </div>
        </div>

        <div class="gamemode-description">
          <p>Description of the chosen gamemode</p>
        </div>
      </div>

      <div class="play-button">
        <a routerLink="/game"><button class="play-button">PLAY</button></a>
      </div>
    </div>
  </body>
</html>