<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div *ngIf="authLoading || configLoading">Loading...</div>
    <div *ngIf="!authLoading && !configLoading">
      Genre:

      <div class="header">
        <div class="welcome-container">
          <h1>Welcome to Guess the Song!</h1>
        </div>
        <div class="leaderboard-container">
          <button class="leaderboard">Leaderboard</button>
        </div>
      </div>
      <div class="config-container">
        <div class="config-title">
          <h2>Configure Your Game</h2>
        </div>
        <div class="settings-container">
          <div class="gamemode-choice">
            <p>GAME MODE: <span id="normal-timed">Normal</span></p>
            <button class="gamemode-btn" (click)="gameMode = !gameMode" onclick="functionGameMode()"></button>
          <!-- 
            <mat-button-toggle-group #toggleMode="matButtonToggleGroup">
                <mat-button-toggle value="Normal Mode">Normal</mat-button-toggle>
                <mat-button-toggle value="Timed Mode">Timed</mat-button-toggle>
            </mat-button-toggle-group>
            Current Choice: {{ toggleMode.value }}
          -->
          </div>
          <div class="genre-choice">Genre</div>
          <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
            <option [value]="">Select a genre</option>
            <option [value]="genre" *ngFor="let genre of genres">
              {{ genre }}
            </option>
          </select>
          <div class="clues-choice">
            <p>CLUES: <span id="on-off">On</span></p>
            <button class="clues-btn" (click)="clueStatus = !clueStatus" onclick="functionOnOff()"></button>
          <!-- 
            <mat-button-toggle-group #toggleClues="matButtonToggleGroup">
                <mat-button-toggle value="Clues On">On</mat-button-toggle>
                <mat-button-toggle value="Clues Off">Off</mat-button-toggle>
            </mat-button-toggle-group>
            Current Choice: {{ toggleClues.value }}
          -->
          </div>
        </div>
        <div class="gamemode-description">
          <p>Description of the chosen gamemode</p>
        </div>
      </div>
      <div class="play-button">
        <button>PLAY</button>
      </div>
    </div>
    <script>
      function functionOnOff() {
        var x = document.getElementById("on-off");
        if (x.innerHTML === "On") {
          x.innerHTML = "Off";
        } else {
          x.innerHTML = "On";
        }
      }
      function functionGameMode() {
        var x = document.getElementById("normal-timed");
        if (x.innerHTML === "Normal") {
          x.innerHTML = "Timed";
        } else {
          x.innerHTML = "Normal";
        }
      }
      </script>
  </body>
</html>